* {
    color: rgb(0, 0, 0);
    font-size: large;
    
}
#link{
    color: blue;
}
body {
    background-image: url("maths 2.jpg");
    background-size: cover;
  }
#titlebar{
    height:100px;
    background-color:#0a2e75;
}
 #container{
    width: 400px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 60px;
    right: 30px;
 }
 
h4{
    position: absolute;
    top: 54px;
}
h1,h4,.tab{
    color: white;
    margin: 0px;
}
#Menubar{
    height: 400px;
    width: 350px;
    margin-left: 70px;
    margin-top: 3.5%;
    
}
a{
    color: rgb(251, 251, 251);
    text-decoration: none;
}
.menu a{
    color: black;
}
#logintab{
    height: 37px;
    width: 500px;
    display: inline;
    display: flex;
    position: absolute;
    top: 150px;
    right: 250px;
}
#content{
    position: absolute;
    margin-top: 10%;
}
table{
    width: 400px;
      position: absolute;
     margin-top: -17%;
    right: 250px; 
}
td{
   text-align: left;
}
table,th,td{
   
    height: 50px;
    width: 500px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(195, 227, 224);
   
}
.ab{
    height: 20%;
    width: 20%;
}
 #submit:hover{
    background-color: #1877F2;
 }

.fb{
    display: inline;
    background-color: #1877F2;
    height: 40px;
    width: 220px;
    position: absolute;
    margin-top:-3% ;
    right: 530px;
    
}
.fb:hover{
    background-color: #0d4690;
    transition-property: all;

}

.google{
   background-color: #4285F4;
   height: 40px;
    width: 220px;
    position: absolute;
    margin-top:-3% ;
    right: 250px;
}
.google:hover{
    background-color: #0d4690;
    transition-property: all;

}
.note {
    margin-top: 40px;
    max-width: 600px;
    background: #fff6f6;
    border-left: 4px solid red;
    padding: 15px 20px;
    border-radius: 6px;
  }
  
  .note h3 {
    color: red;
    margin-bottom: 10px;
  }